:root{
  --black: #000;
  --orange: #E27100;
  --text: #AE5700;
}

body{
  background-color: var(--black);
  margin: 0px;
  padding: 0px;
}

h3{
  margin: 0px;
  padding: 0px;
  font-size: clamp(1.15em, 2vw, 1.35em);
  color: var(--orange);
}
h4{
  margin: 0px;
  padding: 0px;
  font-size: clamp(1.05em, 2vw, 1.30em);
  color: var(--orange);
}
h1{
  margin: 0px;
  padding: 0px;
  font-size: clamp(1.35em, 2vw, 1.65em);
  color: var(--orange);
}
h2{
  margin: 0px;
  padding: 0px;
  font-size: clamp(1.25em, 2vw, 1.55em);
  color: var(--orange);
}
p{
  font-size: clamp(1em, 2vw, 1.25em);
  margin: 0px;
  padding: 0px;
  color: var(--orange);
  word-break: normal;
  word-wrap: break-word;
}

img{
  width: 25px;
}