body {
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5{
  padding: 0px;
  margin: 0px;
  word-break: break-word;
}
p{
  padding: 0px;
  word-break: break-word;
  margin: 0px;
}
img{
  padding: 0px;
  margin: 0px;
}

.svg {
  width: 25px;
}