@import './base.css';

/* CSS FILE ONLY FOR COLOURS/STYLE */


:root {
  --orange: #ff7f11;
  --black: #000000;
  --grey: #2f2f2f;
  --white: #fffffc;
  --transp_orange: rgba(255, 127, 17, 0.8);
}

body {
  background-color: var(--black);
}

p {
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  color: var(--orange);
}

.svg {
  padding: 2px;
  border-radius: 5px;
  border: solid var(--orange) 1px;
}

.about_aside>h3 {
  cursor: pointer;
}

.usr {
  border-color: var(--orange);
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  color: var(--black);
}

.pw {
  border-color: var(--orange);
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  color: var(--black);
}

.option_text {
  transition: 0.3s ease-in-out;
  color: var(--orange);
  padding: 5px;
  border: solid var(--orange) 1px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.option_text:hover{
  color: var(--white);
  border: solid var(--white) 1px;
}

.acc_p_tag{
  transition: 0.3s ease-in-out;
  color: var(--white);
  border: solid var(--white) 1px;
  padding: 5px;
  border-radius: 5px;
}

.build_name_input{
  border-color: var(--orange);
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  color: var(--black);
}

.acc_p_tag:hover{
  color: var(--orange);
  border: solid var(--orange) 1px;
}
.back_button {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.back_button:hover{
  color: var(--orange);
}

.bcontrols>p {
  cursor: pointer;
}

.bcycler>p {
  cursor: pointer;
}

.logout_button{
  transition: 0.3s ease-in-out;
  color: var(--white);
  border: solid var(--white) 1px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.logout_button:hover{
  color: var(--orange);
  border: solid var(--orange) 1px;
}
.about_crtls>h2 {
  cursor: pointer;
}

.query_box>p {
  cursor: pointer;
}

.gen_feat_text {
  cursor: pointer;
}

.switch_div>p {
  cursor: pointer;
}

.type_text {
  cursor: pointer;
}

.generate_btn {
  cursor: pointer;
}
